
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.Title}}</title>
    <meta name="description" content="{{with .Description}}{{.}}{{else}}{{.Site.Params.description}}{{end}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:description" content="{{with .Description}}{{.}}{{else}}{{.Site.Params.description}}{{end}}">
    <meta property="og:url" content="{{.Site.BaseURL}}">
    
    <link rel="alternate" type="application/rss+xml" title="{{.Site.Title}} RSS" href="/index.xml">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">{{.Site.Title}}</a>
        <ul class="navbar-nav">
        {{range .Site.Menus.main}}
        <li><a href="{{.URL}}">{{.Name}}</a></li>
        {{end}}
        </ul>
    </nav>
    <main class="main-content">
        {{block "main" .}}{{end}}
    </main>
</body>
</html>
