{{ define "main" }}
<main>
    <h1>Welcome to the Organ Transplantation in India (OTI) resource page.</h1>

    <p>The low number of organ donations in India leads to a tragic and
    avoidable loss of life every year. Factors include shortages of doctors and
    hospitals, poor incentives, cultural friction, and a lack of clarity in the
    law.</p>
    
    <p>Key materials useful to doctors, patients, and policymakers are split
    across multiple websites, and in some cases, have not been published online
    at all.</p>

    <p>This site aims to assist stakeholders working on or affected by organ
    transplantation by answering questions that are essential for forward
    progress in organ transplantation policy.</p> 

    <p>
    <b>What is the analytical framework?</b> 
    In order to successfully execute
    an organ transplantation, the healthcare system needs specific elements in
    place, and then requires them to perform specific actions sequentially. For
    example, cadaveric organ donation can be either after brainstem death or
    after cardiac death <a href="">(Seth 2022).</a>
    We need to decide between going through issues sequentially and going through
    them from the perspective of missing elements in the policy pipeline (e.g.
    datasets, causal research, policy proposals).</p>

    <p>
    <b>Where are the numbers?</b>
    What are the best datasets on organ transplantation numbers? There seems to
    be a multiplicity of badly maintained datasets. There is some indication that,
    atleast in some settings, that the cadaveric organ donation rates have increased
    since 2013 <a href="">(Zirpe 2020)</a>. Possible sources include: NOTTO, SOTTOs,
    state societies, individual hospitals.</p>

    <p>
    <b>What are the policy problems?</b>
    The number of successful organ
    transplantations is a function of two broad factors: hardware and software.
    The hardware is the number of hospitals with intensive care units capable of
    maintaining brain-dead patients, the number of trained specialists in
    intensive care, the number of organ retrieval centers, and the cold-chain
    capable of storing and transporting these organs. The software is the
    societal attitude towards organ donation, the regulatory framework for organ
    donation, and the incentives of doctors in intensive care to promote organ
    donations.</p> 

    <p>This area needs a review paper that lays out an analytical framework and has
    a coherent typology.</p>

    <p>
    <b>How do we think about the soft problems?</b>How do doctors think about
    legality? What do they regard as having legal weight? How do they weigh
    their risks? How do transplantation laws actually play out on the ground?
    The data on EOL attitudes among intensivists is partly based on doctors who
    are part of the Indian Society of Critical Care Medicine <a href="">(Mani
    2009; Kumar 2023)</a>.</p>

    <p>
    <b>Who is working in this area?</b> Who are the best resource persons?
    There is a small body of literature that identifies common difficulties in
    Indian EOLC law <a>(Agarwal 2023)</a>. There is an even smaller body of
    literature that focuses on practical difficulties in intensive care units in
    India.</p>
    
    <h2>What's next?</h2>
    <blockquote>“We need to establish data sets, develop a research literature,
    incubate diverse policy proposals, debate them, develop a mature point of
    view on how the problems will be solved, present these choices to
    legislators, enact new laws, and then build the state capacity to enforce
    these laws.”</blockquote>

</main>
{{ end }}